<h1>Show User id=<%= @user.id %></h1>

<h3>User elements</h3>
<dl><dt>Name : </dt><dd><%= @user.name %></dd></dl>
<h3>Member elements</h3>

      <dl><dt>Pseudo : </dt><dd><%= @user.member.pseudo %></dd></dl>
      <dl><dt>Email : </dt><dd><%= @user.member.email %></dd></dl>
