<h1>Show asso id=<%= @asso.id %></h1>

<h3>asso elements</h3>
<dl><dt>Register : </dt><dd><%= @asso.register %></dd></dl>
<h3>Member elements</h3>
<dl><dt>Pseudo : </dt><dd><%= @asso.member.pseudo %></dd></dl>
<dl><dt>Email : </dt><dd><%= @asso.member.email %></dd></dl>
